<!DOCTYPE html>
<html lang="en">
<head>
    <title>活动信息录入</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        html, body {
          font: 10pt arial;
        }
    </style>
    <script type="text/javascript" src="https://mina.mapglory.com/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://mina.mapglory.com/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://mina.mapglory.com/static/js/jquery.form.js"></script>

    <script type="text/javascript" src="https://mina.mapglory.com/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="https://mina.mapglory.com/static/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
    <!--script type="text/javascript" src="static/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
    <link  href="static/dist/vis-network.min.css" rel="stylesheet" type="text/css" /-->
    <link  href="https://mina.mapglory.com/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link  href="https://mina.mapglory.com/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">


    <link href="https://mina.mapglory.com/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!--link  href="static/css/slider.css" rel="stylesheet">
    <link  href="static/css/jquery.dataTables.min.css" rel="stylesheet"-->
    <style>
    </style>
</head>
<body>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    所有活动
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>活动名称</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in list %}
                                    <tr>
                                        <td>{{e.atitle1}} </td>
                                        <td>
                                            <a href="/kimage?ano={{e.ano}}">图片</a>
                                            <a href="/krule?ano={{e.ano}}">rule</a>
                                            <a href="/kinstruction?ano={{ e.ano }}">instruction</a>
                                            <a href="#">套餐</a>
                                            <a href="/krefundadd?ano={{ e.ano }}">退改</a>
                                            <a href="/kuse?ano={{ e.ano }}">使用</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>