<!DOCTYPE html>
<html lang="en">
<head>
    <title>活动信息录入</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        html, body {
          font: 10pt arial;
        }
    </style>
    <script type="text/javascript" src="https://mina.mapglory.com/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://mina.mapglory.com/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://mina.mapglory.com/static/js/jquery.form.js"></script>

    <script type="text/javascript" src="https://mina.mapglory.com/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="https://mina.mapglory.com/static/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
    <!--script type="text/javascript" src="static/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
    <link  href="static/dist/vis-network.min.css" rel="stylesheet" type="text/css" /-->
    <link  href="https://mina.mapglory.com/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link  href="https://mina.mapglory.com/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">


    <link href="https://mina.mapglory.com/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!--link  href="static/css/slider.css" rel="stylesheet">
    <link  href="static/css/jquery.dataTables.min.css" rel="stylesheet"-->
    <style>
    </style>
</head>
<body>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    所有活动 <a href="/kadd">返回首页</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>活动名称</th>
                                    <th>操作</th>
                                    <th>热门度<a class="btn" id="btn-hot">提交</a></th>
                                    <th>主题度<a class="btn" id="btn-theme">提交</a></th>
                                    <th>推荐度<a class="btn" id="btn-rec">提交</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in list %}
                                    <tr>
                                        <td>{{e.atitle1}} </td>
                                        <td>
                                            <a href="/kimage?ano={{e.ano}}">图片</a>
                                            <a href="/krule?ano={{e.ano}}">规则</a>
                                            <a href="/kinstruction?ano={{ e.ano }}">提示</a>
                                            <a href="/kpackage?ano={{ e.ano }}">套餐</a>
                                            <a href="/krefundadd?ano={{ e.ano }}">退改</a>
                                            <a href="/kuse?ano={{ e.ano }}">使用</a>
                                            <a href="/kdel?ano={{ e.ano }}">删除</a>
                                            <!--a></a-->
                                        </td>
                                        <td>
                                            <input type='text' placeholder="0" class="hot" value="{{ e.hval }}"/>
                                            <input type="hidden" value="{{ e.ano }}" />
                                        </td>
                                        <td>
                                            <input type='text' placeholder="0" class="theme" value="{{ e.tval }}"/>
                                            <input type="hidden" value="{{ e.ano }}" />
                                        </td>
                                        <td>
                                            <input type='text' placeholder="0" class="rec" value="{{ e.rval }}"/>
                                            <input type="hidden" value="{{ e.ano }}" />
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            function CAR(time) {
                if (!time) {
                    time = 0;
                }
                setTimeout(function() {
                    location.reload();
                }, time * 2000);
            }
            $("#btn-hot").click(function(){
                hot_dict = {}
                $(".hot").each(function(){
                    if($(this).val() == ""){
                        hot_dict[$(this).next().val()] = 0;
                    }
                    else{
                        hot_dict[$(this).next().val()] = $(this).val();
                    }
                })
                $.post("https://mina.mapglory.com/hot_update",hot_dict,function(res){
                    console.log(res);
                    if(res.status == 1){
                        alert('提交成功');
                        CAR(1);
                    }
                    else{
                        alert('提交失败');
                    }
                })
            })
            $("#btn-theme").click(function(){
                theme_dict = {}
                $(".theme").each(function(){
                    if($(this).val() == ""){
                        theme_dict[$(this).next().val()] = 0;
                    }
                    else{
                        theme_dict[$(this).next().val()] = $(this).val();
                    }
                })
                $.post("https://mina.mapglory.com/theme_update",theme_dict,function(res){
                    console.log(res);
                     if(res.status == 1){
                        alert('提交成功');
                        CAR(1);
                    }
                    else{
                        alert('提交失败');
                    }
                })
            })
            $("#btn-rec").click(function(){
                rec_dict = {}
                $(".rec").each(function(){
                    if($(this).val() == ""){
                        rec_dict[$(this).next().val()] = 0;
                    }
                    else{
                        rec_dict[$(this).next().val()] = $(this).val();
                    }
                })
                $.post("https://mina.mapglory.com/rec_update",rec_dict,function(res){
                    console.log(res);
                     if(res.status == 1){
                        alert('提交成功');
                        CAR(1);
                    }
                    else{
                        alert('提交失败');
                    }
                })
            })
        })
    </script>
</body>
</html>