<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">


            <div class="panel panel-default">

                <div class="panel-heading">
                    所有活动
                </div>
                <div class="panel-body">
                    <div class="row">

                        <table  border="1">
                            <th>
                                <td>活动名称</td>
                                <td>操作</td>
                            </th>
                            <tr>
                                <td>活动1</td>
                                <td>
                                    <a>图片</a>
                                    <a>rule</a>
                                    <a>instruction</a>
                                    <a>套餐</a>
                                    <a>退改</a>
                                    <a>使用</a>
                                </td>
                            </tr>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>