<!DOCTYPE html>
<html>
<head>
    <title>使用须知</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        html, body {
          font: 10pt arial;
        }
    </style>
    <script type="text/javascript" src="https://mina.mapglory.com/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://mina.mapglory.com/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://mina.mapglory.com/static/js/jquery.form.js"></script>

    <script type="text/javascript" src="https://mina.mapglory.com/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="https://mina.mapglory.com/static/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
    <!--script type="text/javascript" src="static/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
    <link  href="static/dist/vis-network.min.css" rel="stylesheet" type="text/css" /-->
    <link  href="https://mina.mapglory.com/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link  href="https://mina.mapglory.com/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">


    <link href="https://mina.mapglory.com/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!--link  href="static/css/slider.css" rel="stylesheet">
    <link  href="static/css/jquery.dataTables.min.css" rel="stylesheet"-->
    <style>
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    使用须知
                </div>
                <div class="panel-body">
                    <form id="form-use" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">注意事项</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <textarea type='text' class='form-control' id='udetail' name='udetail' placeholder="xxx"></textarea>
                                        <input type="hidden" id="ano" name="ano"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">事项类型</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <select class="selectpicker" name="ktype">
                                            <option value="1">须知1</option>
                                            <option value="2">须知2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-2">
                            <button type='submit' class='btn btn-primary' id="btn-commit">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            function getRequest() {
              var url = window.location.search; //获取url中"?"符后的字串
              var theRequest = new Object();
              if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for(var i = 0; i < strs.length; i ++) {

                  theRequest[strs[i].split("=")[0]]=decodeURI(strs[i].split("=")[1]);

                }
              }
              return theRequest;
            }
            $("#btn-commit").click(function(){
                var ano = getRequest().ano;
                $("#ano").val(ano);
                $("#form-use").ajaxSubmit({
                    url:"https://mina.mapglory.com/add_use",
                    type:"POST",
                    success:function(res){
                        console.log(res);
                        if(res.status == 1){
                            alert('活动添加成功！');
                            CAR(2);
                        }
                        else{
                            alert('添加失败，请检查！');
                        }
                    }
                });
            })
        })
    </script>
</body>



</html>